# -*- Makefile -*-

PROGRAMMER=papilio-prog
TARGET_PART=xc6slx9-tqg144-2
XILINX=/opt/Xilinx/14.7/ISE_DS/ISE
VHDSOURCE=					\
	vhdl/functions_pkg.vhd			\
	vhdl/architecture_pkg.vhd		\
	vhdl/bootload.vhd			\
	vhdl/debugger.vhd			\
	vhdl/xilinx_datamem_32.vhd		\
	vhdl/external_SRAM.vhd			\
	vhdl/papilio-pro.vhd			\
	vhdl/header.vhd				\
	vhdl/program.vhd			\
	vhdl/uArithmetic.vhd			\
	vhdl/uart.vhd				\
	vhdl/uCntrl.vhd				\
	vhdl/uCore.vhd				\
	vhdl/uDatacache_32.vhd			\
	vhdl/uProgmem.vhd
TOPLEVEL=fpga
